div.card{
    background-color: #A7DB8D;
    width:380px;
    height:540px;
    margin:20px;
    padding: 12px;
    border: --hardRed solid 5px;
    border-radius:30px;
}

.card {
    font-family: 'Roboto', sans-serif;
}

