/* .navbar {
    width: 100%;
} */

nav {
    color: var(--pokeyellow);
}

.pageTitle {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 5rem;
    font-family: 'jsMath-cmbx10', sans-serif;
    z-index: 1;
}

.creds {
    position: absolute;
    top: 98px;
    left: 49px;
    font-family: 'Roboto', sans-serif;
}

/*! TOP RIGHT SEARCH*/

.searchbar {
    background: url(/img/searchIcon.svg) center left no-repeat ;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 5%;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    padding-left: 50px;
    
    font-size: 1.3rem;
}



/*! TOP RIGHT FILTER DROPDOWN MENU */

.dropdown {
    position: absolute;
    position: center;
    top: 25px;
    right: 2%;
    height: 40px;
    width: 40px;
    border-radius: 50px;

}

.dropbtn {
    background-color: var(--buttonBlue);
    border-radius: 15px;
    object-fit: fill;
}

.dropbtn img {
    object-fit: fill;
    height: 100%;
    width: 100%;

}

/*! NAV BODY STYLING */

.mainNavBox {
    background-color: var(--hardRed);
    height: 80px;
    width: 100%;
    margin-bottom: 130px;
    border-radius: 15px;
}

.leftNavBox{
    background-color: var(--hardRed);
    position:absolute;
    top: 0px;
    left: 0px;
    height: 142px;
    width: 640px;
    border-radius: 10%;
    z-index: -2;
}

.leftCornerer{
    background-color: var(--lightRed);
    position: absolute;
    left: 535px;
    top: 63px;
    rotate: 55deg;
    height: 200px;
    width: 100px;
    border-radius: 20%;
    z-index: -1;
}

.leftCornerBall{
    background-color: var(--hardRed);
    position: absolute;
    left: 462px;
    top: 42px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.lemeDoItforyou{
    background-color: #E14343;
    position: absolute;
    left: 515px;
    top: 125px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: -1;
}
