:root {
    --hardRed: #CD0000;
    --lightRed: #E14343;
    --buttonBlue: #28AAFD;
    --pokeyellow: #FFBF1B;

}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-color: var(--lightRed);
}
/*! NAV BAR STYLING */



/*! BODY STYLING */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 60px 0px 60px;
    font-family: 'Roboto', sans-serif;
}  

section.mid-sect {
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow-x: hidden;
}

div.card{
    background-color: #A7DB8D;
    display: flex;
    justify-content: center;
    padding: 8px;
    min-width:440px;
    height:540px;
    margin:20px;
    border: var(--hardRed) solid 5px;
    border-radius:30px;
}

img.arr{
    background-color:var(--buttonBlue) ;
    opacity: 80%;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    box-shadow: var(--hardRed) 2px 2px 12px;
}

