:root {
    --hardRed: #CD0000;
    --lightRed: #E14343;
    --buttonBlue: #28AAFD;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-color: var(--lightRed);
}
/*! NAV BAR STYLING */

.mainNavBox {
    background-color: var(--hardRed);
    height: 80px;
    width: 100%;
    margin-bottom: 100px;
    border-radius: 15px;
}
.leftNavBox{
    background-color: var(--hardRed);
    position:absolute;
    top: 0px;
    left: 0px;
    height: 128px;
    width: 440px;
    border-radius: 15px;
    z-index: -2;
}
.leftCornerer{
    background-color: var(--lightRed);
    position: absolute;
    left: 335px;
    top: 63px;
    rotate: 60deg;
    height: 200px;
    width: 100px;
    border-radius: 20%;
    z-index: -1;
}

/*! BODY STYLING */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px 0px 30px;
}  

section.mid-sect {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

div.card{
    background-color: #A7DB8D;
    width:380px;
    height:540px;
    margin:20px;
    border: --hardRed solid 5px;
    border-radius:30px;
}

img.arr{
    background-color:var(--buttonBlue) ;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 20px;
}

