:root {
    --hardRed: #CD0000;
    --lightRed: #E14343;
    --buttonBlue: #28AAFD;
    --pokeyellow: #FFBF1B;

}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-color: var(--lightRed);
}
/*! NAV BAR STYLING */



/*! BODY STYLING */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 60px 0px 60px;
    font-family: 'Roboto', sans-serif;
}  

section.cardContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}



main button {
    background-color: #73b5df;
    border-radius: 100%;
    width: 64px;
    height: 64px;
}

img.arr{
    background-color:var(--buttonBlue) ;
    opacity: 80%;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    /* box-shadow: var(--hardRed) 2px 2px 12px; */
}

